Repository Rythe-Interactive/Rythe-Engine, pull requests merged in 2020-08, with the labels that each got.

#52 Create LICENSE
  LICENSE
Labels: HIGH PRIORITY, help wanted

#50 Feature/spinlock multiguard
  args/core/async/readonly_rw_spinlock.cpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/async/transferable_atomic.hpp
  args/core/containers/hashed_sparse_set.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/ecs/ecsregistry.cpp
  args/core/ecs/queryregistry.cpp
  args/core/engine/engine.cpp
  args/core/engine/engine.hpp
  args/core/entry/entry_point.hpp
  args/core/platform/platform.hpp
  args/core/types/type_util.cpp
  args/core/types/type_util.hpp
Labels: enhancement, team core

#44 added some probing to pinpoint the issues with the build-action bug
  .github/workflows/build.yml
Labels: bug

#65 Feature/clock and time
  applications/test_game/module/testModule.cpp
  applications/test_game/module/testModule.hpp
  applications/test_game/source.cpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/core.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/ecs/ecsregistry.cpp
  args/core/ecs/entity_handle.cpp
  args/core/ecs/entityquery.cpp
  args/core/ecs/entityquery.hpp
  args/core/ecs/queryregistry.cpp
  args/core/engine/engine.cpp
  args/core/engine/engine.hpp
  args/core/engine/module.hpp
  args/core/time/clock.hpp
  args/core/time/delete_this
  args/core/time/time.hpp
  args/core/time/time_span.hpp
Labels: enhancement, team core

#69 Feature/scheduling
  applications/editor_application/source.cpp
  applications/test_game/module/testModule.cpp
  applications/test_game/module/testModule.hpp
  applications/test_game/source.cpp
  applications/test_game/systems/testsystem.hpp
  applications/test_game/test_game.vcxproj
  applications/test_game/test_game.vcxproj.filters
  args/core/async/async.hpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/async/ring_sync_lock.hpp
  args/core/async/transferable_atomic.hpp
  args/core/containers/containers.hpp
  args/core/containers/delegate.hpp
  args/core/core.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/ecs/component_container.hpp
  args/core/engine/engine.cpp
  args/core/engine/engine.hpp
  args/core/engine/module.cpp
  args/core/engine/module.hpp
  args/core/engine/system.hpp
  args/core/entry/entry_point.hpp
  args/core/scheduling/process.hpp
  args/core/scheduling/processchain.cpp
  args/core/scheduling/processchain.hpp
  args/core/scheduling/scheduler.cpp
  args/core/scheduling/scheduler.hpp
  args/core/scheduling/scheduling.hpp
  args/core/time/clock.hpp
  args/core/time/time.hpp
  args/core/time/time_span.hpp
  args/core/types/primitives.hpp
  args/core/types/type_util.cpp
  args/core/types/type_util.hpp
  docs/Doxyfile
Labels: enhancement, team core

#71 EventSystem
  applications/test_game/module/testModule.hpp
  applications/test_game/source.cpp
  applications/test_game/systems/testsystem.hpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/containers/delegate.hpp
  args/core/core.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/ecs/entityquery.cpp
  args/core/ecs/queryregistry.cpp
  args/core/ecs/queryregistry.hpp
  args/core/ecs/rw_component_buffer.hpp
  args/core/engine/engine.hpp
  args/core/engine/module.hpp
  args/core/engine/system.hpp
  args/core/entry/entry_point.hpp
  args/core/events/defaultevents.hpp
  args/core/events/event.hpp
  args/core/events/eventbus.hpp
  args/core/events/events.hpp
  args/core/scheduling/processchain.cpp
  args/core/scheduling/scheduler.cpp
  args/core/scheduling/scheduler.hpp
Labels: enhancement, team core

#70 Filesystem
  .clang_complete
  .editorconfig
  .gitignore
  applications/test_game/assets/config/test.args-test
  applications/test_game/assets/config/test.txt
  applications/test_game/assets/config/test2.txt
  applications/test_game/source.cpp
  applications/test_game/test_filesystem.hpp
  applications/test_game/test_game.vcxproj
  applications/test_game/test_game.vcxproj.filters
  args/core/async/readonly_rw_spinlock.hpp
  args/core/common/common.hpp
  args/core/common/exception.hpp
  args/core/common/inteface_traits.hpp
  args/core/common/result.hpp
  args/core/common/string_extra.hpp
  args/core/containers/data_view.hpp
  args/core/containers/iterator_tricks.hpp
  args/core/containers/vector_view.hpp
  args/core/core.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/detail/internals.hpp
  args/core/filesystem/artifact_cache.cpp
  args/core/filesystem/artifact_cache.hpp
  args/core/filesystem/basic_resolver.hpp
  args/core/filesystem/detail/meta.hpp
  args/core/filesystem/detail/resource_meta.hpp
  args/core/filesystem/detail/strpath_manip.cpp
  args/core/filesystem/detail/strpath_manip.hpp
  args/core/filesystem/detail/traits.hpp
  args/core/filesystem/filemanip.hpp
  args/core/filesystem/filesystem.hpp
  args/core/filesystem/filesystem_resolver.cpp
  args/core/filesystem/filesystem_resolver.hpp
  args/core/filesystem/mem_filesystem_resolver.cpp
  args/core/filesystem/mem_filesystem_resolver.hpp
  args/core/filesystem/navigator.cpp
  args/core/filesystem/navigator.hpp
  args/core/filesystem/provider_registry.cpp
  args/core/filesystem/provider_registry.hpp
  args/core/filesystem/resource.hpp
  args/core/filesystem/view.cpp
  args/core/filesystem/view.hpp
  args/core/platform/platform.hpp
  deps/lib/args-application.lib
  deps/lib/args-audio.lib
  deps/lib/args-core.lib
  deps/lib/args-editor.lib
  deps/lib/args-networking.lib
  deps/lib/args-physics.lib
  deps/lib/args-rendering.lib
  deps/lib/args-scripting.lib
  docs/source/argstheme/nameko/static/nameko.css_t
Labels: enhancement, team core

#78 added glm to doxy-exclude-pattern
  docs/Doxyfile
  docs/source/argstheme/__pycache__/__init__.cpython-38.pyc
Labels: bug, documentation

#79 feature/algo various fixes
  args/core/common/string_extra.hpp
  args/core/containers/data_view.hpp
  args/core/containers/iterator_tricks.hpp
  args/core/containers/vector_view.hpp
Labels: enhancement

#85 minor nitpicks
  args/core/containers/delegate.hpp
  args/core/types/type_util.hpp
  deps/lib/args-core.lib
Labels: enhancement

#87 add glad opengl loading
  applications/test_game/systems/testsystem.hpp
  args/application/application.vcxproj
  args/application/application.vcxproj.filters
  args/application/context/contexthelper.cpp
  args/application/context/contexthelper.hpp
  args/application/context/detail/KHR/khrplatform.h
  args/application/context/detail/glad/glad.c
  args/application/context/detail/glad/glad.h
  args/application/window/windowsystem.hpp
  args/core/events/eventbus.hpp
  deps/lib/args-application.lib
Labels: enhancement, team application/input
