Repository Rythe-Interactive/Rythe-Engine, pull requests merged in 2020-09, with the labels that each got.

#92 [WIP] InputSystem
  applications/test_game/systems/testsystem.hpp
  args/application/application.vcxproj
  args/application/application.vcxproj.filters
  args/application/context/contexthelper.cpp
  args/application/context/contexthelper.hpp
  args/application/events/inputevents.hpp
  args/application/events/windowevents.hpp
  args/application/events/windowinputevents.hpp
  args/application/input/inputmap.hpp
  args/application/input/inputsystem.hpp
  args/application/module/applicationmodule.hpp
  args/application/window/windowsystem.hpp
  args/core/containers/delegate.hpp
  args/core/containers/iterator_tricks.hpp
  args/core/engine/system.hpp
  args/core/filesystem/provider_registry.cpp
Labels: enhancement

#101 Feature/renderer part 2
  applications/test_game/assets/shaders/delete_this
  applications/test_game/assets/shaders/wireframe.glsl
  applications/test_game/systems/testsystem.hpp
  args/application/context/contexthelper.cpp
  args/application/context/contexthelper.hpp
  args/application/window/windowsystem.hpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/core.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/data/data.hpp
  args/core/data/mesh.cpp
  args/core/data/mesh.hpp
  args/core/ecs/component_handle.hpp
  args/core/ecs/entity_handle.cpp
  args/core/ecs/entity_handle.hpp
  args/core/math/glm/ext/quaternion_common.inl
  args/core/math/glm/ext/quaternion_exponential.inl
  args/core/math/glm/ext/scalar_constants.hpp
  args/core/math/glm/ext/scalar_constants.inl
  args/core/math/glm/gtx/easing.inl
  args/core/math/glm/gtx/fast_trigonometry.inl
  args/core/math/glm/gtx/matrix_decompose.inl
  args/core/math/glm/gtx/matrix_interpolation.inl
  args/core/math/glm/gtx/quaternion.inl
  args/core/math/math.hpp
  args/core/scheduling/scheduler.cpp
  args/core/types/primitives.hpp
  args/rendering/components/camera.hpp
  args/rendering/components/renderable.hpp
  args/rendering/data/importers/mesh_importers.cpp
  args/rendering/data/importers/mesh_importers.hpp
  args/rendering/data/mesh.cpp
  args/rendering/data/mesh.hpp
  args/rendering/data/model.cpp
  args/rendering/data/model.hpp
  args/rendering/data/shader.cpp
  args/rendering/data/shader.hpp
  args/rendering/rendering.hpp
  args/rendering/rendering.vcxproj
  args/rendering/rendering.vcxproj.filters
  args/rendering/systems/renderer.hpp
  deps/lib/args-application.lib
  deps/lib/args-core.lib
  deps/lib/args-rendering.lib
Labels: bug, enhancement, team rendering

#110 Feature/rigid bodies
  applications/test_game/systems/testsystem.hpp
  args/core/defaults/defaultcomponents.hpp
  args/physics/convexcollider.hpp
  args/physics/physics.vcxproj
  args/physics/physics.vcxproj.filters
  args/physics/physics_component.hpp
  args/physics/physicscollider.hpp
  args/physics/physicsconstants.h
  args/physics/physicsmodule.hpp
  args/physics/physicssystem.hpp
  args/physics/rigidbody.hpp
Labels: enhancement

#116 destroy and init api
  args/core/containers/atomic_sparse_map.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/defaults/defaultcomponents.hpp
  args/core/ecs/component_container.hpp
  args/core/ecs/component_meta.hpp
  deps/lib/args-application.lib
Labels: enhancement, team core

#117 Hotfix/init call on preinitialized component
  args/core/ecs/component_container.hpp
Labels: bug, team core

#119 Materials, jobs, thread commands, fix spinlock, fix projection
  applications/editor_application/editor_application.vcxproj
  applications/test_game/assets/shaders/position.glsl
  applications/test_game/assets/shaders/wireframe.glsl
  applications/test_game/source.cpp
  applications/test_game/systems/testsystem.hpp
  applications/test_game/test_game.vcxproj
  args/application/application.vcxproj
  args/application/context/contexthelper.cpp
  args/application/input/inputsystem.hpp
  args/application/window/windowsystem.hpp
  args/audio/audio.vcxproj
  args/core/async/readonly_rw_spinlock.cpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/containers/iterator_tricks.hpp
  args/core/containers/sparse_map.hpp
  args/core/core.vcxproj
  args/core/data/mesh.cpp
  args/core/data/mesh.hpp
  args/core/defaults/defaultcomponents.hpp
  args/core/ecs/entityquery.cpp
  args/core/ecs/queryregistry.cpp
  args/core/ecs/queryregistry.hpp
  args/core/engine/engine.hpp
  args/core/engine/module.hpp
  args/core/entry/entry_point.hpp
  args/core/events/eventbus.hpp
  args/core/scheduling/processchain.cpp
  args/core/scheduling/processchain.hpp
  args/core/scheduling/scheduler.cpp
  args/core/scheduling/scheduler.hpp
  args/core/time/time_span.hpp
  args/core/types/type_util.cpp
  args/core/types/type_util.hpp
  args/editor/editor.vcxproj
  args/networking/networking.vcxproj
  args/physics/physics.vcxproj
  args/rendering/components/camera.hpp
  args/rendering/components/renderable.hpp
  args/rendering/data/material.cpp
  args/rendering/data/material.hpp
  args/rendering/data/model.cpp
  args/rendering/data/model.hpp
  args/rendering/data/shader.cpp
  args/rendering/data/shader.hpp
  args/rendering/data/texture.cpp
  args/rendering/data/texture.hpp
  args/rendering/rendering.vcxproj
  args/rendering/rendering.vcxproj.filters
  args/rendering/systems/renderer.hpp
  args/scripting/scripting.vcxproj
  deps/lib/args-core.lib
  deps/lib/args-physics.lib
  deps/lib/args-rendering.lib
Labels: enhancement, team rendering

#121 Narrowphase Collision Framework and Collision Solver Framework
  args/physics/convexcollider.cpp
  args/physics/convexcollider.hpp
  args/physics/data/physics_manifold_precursor.h
  args/physics/physics.vcxproj
  args/physics/physics.vcxproj.filters
  args/physics/physics_component.cpp
  args/physics/physics_component.hpp
  args/physics/physics_contact.h
  args/physics/physics_manifold.hpp
  args/physics/physicsconstants.h
  args/physics/physicssystem.hpp
Labels: enhancement

#123 simple debug line renderer
  applications/test_game/assets/shaders/debug.glsl
  applications/test_game/source.cpp
  applications/test_game/systems/testsystem.hpp
  args/application/window/windowsystem.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/data/mesh.hpp
  args/core/defaults/coremodule.hpp
  args/core/math/color.hpp
  args/core/math/glm/ext.hpp
  args/core/math/glm/glm_include.hpp
  args/core/math/glm/gtx/hash.hpp
  args/core/math/glm/gtx/hash.inl
  args/core/math/math.hpp
  args/rendering/data/material.cpp
  args/rendering/data/material.hpp
  args/rendering/data/shader.cpp
  args/rendering/data/shader.hpp
  args/rendering/debugrendering.hpp
  args/rendering/pipeline/default/delete_this
  args/rendering/rendering.hpp
  args/rendering/rendering.vcxproj
  args/rendering/rendering.vcxproj.filters
  args/rendering/systems/renderer.hpp
  deps/lib/args-application.lib
  deps/lib/args-physics.lib
  deps/lib/args-rendering.lib
Labels: enhancement, team rendering

#125 Compute Shaders
  .github/workflows/analyze.yml
  applications/test_game/assets/bigint.txt
  applications/test_game/assets/kernels/vadd_kernel.cl
  applications/test_game/systems/testsystem.hpp
  applications/test_game/test_game.vcxproj
  applications/test_game/test_game.vcxproj.filters
  args/application/input/inputsystem.hpp
  args/core/common/result.hpp
  args/core/compute/buffer.cpp
  args/core/compute/buffer.hpp
  args/core/compute/context.cpp
  args/core/compute/context.hpp
  args/core/compute/kernel.cpp
  args/core/compute/kernel.hpp
  args/core/compute/program.cpp
  args/core/compute/program.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/defaults/coremodule.hpp
  args/core/filesystem/view.hpp
  args/core/platform/platform.hpp
  deps/include/CL/cl.h
  deps/include/CL/cl_d3d10.h
  deps/include/CL/cl_d3d11.h
  deps/include/CL/cl_dx9_media_sharing.h
  deps/include/CL/cl_dx9_media_sharing_intel.h
  deps/include/CL/cl_egl.h
  deps/include/CL/cl_ext.h
  deps/include/CL/cl_ext_intel.h
  deps/include/CL/cl_gl.h
  deps/include/CL/cl_gl_ext.h
  deps/include/CL/cl_half.h
  deps/include/CL/cl_icd.h
  deps/include/CL/cl_platform.h
  deps/include/CL/cl_va_api_media_sharing_intel.h
  deps/include/CL/cl_version.h
  deps/include/CL/opencl.h
  deps/lib/OpenCL.exp
  deps/lib/OpenCL.lib
  deps/lib/args-application.lib
  deps/lib/args-core.lib
Labels: enhancement, team core

#126 Face-Face SAT now works
  applications/test_game/systems/testsystem.hpp
  args/core/defaults/defaultcomponents.hpp
  args/physics/HalfEdgeEdge.h
  args/physics/HalfEdgeFace.cpp
  args/physics/HalfEdgeFace.h
  args/physics/PhysicsStatics.h
  args/physics/convexcollider.cpp
  args/physics/convexcollider.hpp
  args/physics/physics.vcxproj
  args/physics/physics.vcxproj.filters
  args/physics/physics_manifold.hpp
  args/physics/physicscollider.hpp
  args/physics/physicssystem.hpp
Labels: enhancement, team physics

#131 Optimized edge edge sat check
  applications/test_game/systems/testsystem.hpp
  args/physics/HalfEdgeFace.cpp
  args/physics/PhysicsStatics.h
  args/physics/colliders/convexcollider.cpp
  args/physics/colliders/convexcollider.hpp
  args/physics/colliders/physicscollider.hpp
  args/physics/components/delete_this
  args/physics/components/physics_component.cpp
  args/physics/components/physics_component.hpp
  args/physics/components/rigidbody.hpp
  args/physics/cube_collider_params.hpp
  args/physics/data/physics_manifold.hpp
  args/physics/data/physics_manifold_precursor.h
  args/physics/halfedgeedge.hpp
  args/physics/halfedgeface.hpp
  args/physics/physics.vcxproj
  args/physics/physics.vcxproj.filters
  args/physics/physicscollider.cpp
  args/physics/physicsmodule.hpp
  args/physics/systems/physicssystem.hpp
Labels: enhancement

#133 Physics manifold filling
  applications/sandbox/systems/testsystem.hpp
  args/physics/colliders/convexcollider.cpp
  args/physics/colliders/physicscollider.hpp
  args/physics/data/convexconvexpenetrationquery.cpp
  args/physics/data/convexconvexpenetrationquery.h
  args/physics/data/edgepenetrationquery.cpp
  args/physics/data/edgepenetrationquery.h
  args/physics/data/penetrationquery.h
  args/physics/data/physics_manifold.hpp
  args/physics/halfedgeedge.hpp
  args/physics/halfedgeface.hpp
  args/physics/physics.vcxproj
  args/physics/physics.vcxproj.filters
  args/physics/physics_statics.hpp
Labels: enhancement

#134 variables have been restored
  applications/sandbox/systems/testsystem.hpp
  args-engine.sln
  args/physics/systems/physicssystem.hpp
Labels: HIGH PRIORITY, bug
