Repository Rythe-Interactive/Rythe-Engine, pull requests merged in 2020-07, with the labels that each got.

#2 Update CONTRIBUTING.MD
  CONTRIBUTING.md
Labels: documentation, enhancement, team core

#9 new file name for args/editor/editor.hpp, now args/editor/editor_impl.hpp
  args/editor/editor.hpp
  args/editor/editor.vcxproj
  args/editor/editor.vcxproj.filters
  args/editor/editor/editor.cpp
  args/editor/editor/editor_impl.cpp
  args/editor/editor/editor_impl.hpp
Labels: enhancement, team editor

#10 Feature/basic file operations
  applications/editor_application/editor_application.vcxproj
  applications/editor_application/source.cpp
  args/core/common/common.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/filesystem/filemanip.hpp
  args/core/filesystem/filesystem.hpp
  args/core/platform/platform.hpp
  args/core/types/types.hpp
  args/editor/editor.hpp
  args/editor/editor.vcxproj
  args/editor/editor.vcxproj.filters
  args/editor/editor/editor_impl.cpp
  args/editor/editor/editor_impl.hpp
Labels: enhancement, team core

#20 resolved the ambiguity between types and primitives.hpp
  args/core/engine/engine.hpp
  args/core/filesystem/detail/resource_meta.hpp
  args/core/filesystem/resource.hpp
  args/core/types/meta.hpp
  args/core/types/primitives.hpp
  args/core/types/types.hpp
Labels: enhancement

#22 Feature/build system
  .github/workflows/build.yml
  .nojekyll
  args/core/build-core.lua
  args/core/engine/engine.cpp
  args/core/engine/engine.hpp
  args/core/platform/platform.hpp
  args/premake5.lua
  tools/export-compile-commands/repository
Labels: enhancement, team core

#29 UML diagram for args-core
  applications/test_game/assets/textures/args-githubmediacard.png
  docs/Core.svg
  docs/args.mdj
Labels: help wanted, team core

#31 added uml for argsfs
  docs/argsfs_pixlfs uml-impl.png
  docs/argsfs_pixlfs uml-impl.svg
Labels: documentation, enhancement, help wanted

#34 Update CONTRIBUTING.md
  CONTRIBUTING.md
  docs/source/CONTRIBUTING.md
Labels: bug, documentation

#33 Bugfix/core uml
  docs/Core.svg
Labels: bug, documentation, team core

#35 add sparse_map
  applications/test_game/source.cpp
  args/core/containers/containers.hpp
  args/core/containers/delete_this
  args/core/containers/sparse_map.hpp
  args/core/core.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
Labels: enhancement, help wanted, team core

#36 sparse set implementation
  applications/test_game/source.cpp
  args/core/containers/containers.hpp
  args/core/containers/sparse_map.hpp
  args/core/containers/sparse_set.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/types/primitives.hpp
Labels: documentation, enhancement, team core

#43 Bugfix/mutable const correctness
  args/core/containers/atomic_sparse_map.hpp
  args/core/containers/sparse_map.hpp
Labels: bug, enhancement

#46 add custom argstheme for docs based on sphinx-nameko-theme and feedback page
  docs/source/argstheme/LICENSE
  docs/source/argstheme/README
  docs/source/argstheme/__init__.py
  docs/source/argstheme/main.css
  docs/source/argstheme/nameko/layout.html
  docs/source/argstheme/nameko/reference.html
  docs/source/argstheme/nameko/relations.html
  docs/source/argstheme/nameko/static/nameko.css_t
  docs/source/argstheme/nameko/static/pygments.css
  docs/source/argstheme/nameko/theme.conf
  docs/source/argstheme/theme.conf
  docs/source/conf.py
  docs/source/feedback.rst
  docs/source/index.rst
Labels: documentation, enhancement

#47 added documenting guidelines for doxygen style comments
  CONTRIBUTING.md
  cp-md-files.bat
  docs/source/CONTRIBUTING.md
  docs/source/README.md
Labels: documentation, enhancement

#48 Feature/entity querying
  applications/test_game/source.cpp
  args/core/async/async.hpp
  args/core/async/delete_this
  args/core/async/readonly_rw_spinlock.cpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/async/transferable_atomic.hpp
  args/core/common/common.hpp
  args/core/common/exception.hpp
  args/core/containers/atomic_sparse_map.hpp
  args/core/containers/containers.hpp
  args/core/containers/hashed_sparse_set.hpp
  args/core/containers/sparse_map.hpp
  args/core/containers/sparse_set.hpp
  args/core/core.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/ecs/component_container.hpp
  args/core/ecs/component_handle.hpp
  args/core/ecs/ecs.hpp
  args/core/ecs/ecsregistry.cpp
  args/core/ecs/ecsregistry.hpp
  args/core/ecs/entity.cpp
  args/core/ecs/entity.hpp
  args/core/ecs/entity_handle.cpp
  args/core/ecs/entity_handle.hpp
  args/core/ecs/entityquery.cpp
  args/core/ecs/entityquery.hpp
  args/core/ecs/queryregistry.cpp
  args/core/ecs/queryregistry.hpp
  args/core/ecs/rw_component_buffer.hpp
  args/core/entry/entry_point.hpp
  args/core/filesystem/filemanip.hpp
  args/core/platform/platform.hpp
  args/core/types/primitives.hpp
  args/core/types/type_util.cpp
  args/core/types/type_util.hpp
  args/core/types/types.hpp
Labels: documentation, enhancement, help wanted, team core
