Repository Rythe-Interactive/Rythe-Engine, pull requests merged in 2020-10, with the labels that each got.

#135 Feature/core overhaul
  applications/sandbox/systems/testsystem.hpp
  args/application/events/windowevents.hpp
  args/application/window/window.hpp
  args/application/window/windowsystem.hpp
  args/core/containers/atomic_sparse_map.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/defaults/defaultcomponents.hpp
  args/core/ecs/archetype.hpp
  args/core/ecs/archetype.inl
  args/core/ecs/component_container.hpp
  args/core/ecs/component_handle.hpp
  args/core/ecs/ecsregistry.cpp
  args/core/ecs/ecsregistry.hpp
  args/core/ecs/entity_handle.cpp
  args/core/ecs/entity_handle.hpp
  args/core/ecs/entity_handle.inl
  args/core/engine/system.hpp
  args/core/scheduling/scheduler.cpp
Labels: HIGH PRIORITY, enhancement, team core

#137 ; after ARGS_IMPURE_RETURN
  args/core/data/mesh.hpp
  args/core/filesystem/filesystem_resolver.hpp
  args/core/filesystem/mem_filesystem_resolver.hpp
Labels: HIGH PRIORITY, bug, documentation

#139 excluded ../application from the doxygen sources
  docs/Doxyfile
Labels: bug, enhancement

#141 transform and rotation utils, world transform support, fix readonly_rw_spinlock, component overwrite with default value
  args/core/async/readonly_rw_spinlock.cpp
  args/core/async/readonly_rw_spinlock.hpp
  args/core/defaults/defaultcomponents.hpp
  args/core/ecs/component_container.hpp
  args/core/ecs/ecsregistry.cpp
  args/core/math/glm/gtx/matrix_decompose.hpp
  args/core/math/glm/gtx/matrix_decompose.inl
  args/core/scheduling/scheduler.cpp
  args/rendering/systems/renderer.hpp
Labels: enhancement, team core

#142 Hotfix crash on exit with alt+f4
  args/application/application.vcxproj
  args/audio/audio.vcxproj
  args/core/core.vcxproj
  args/core/ecs/component_handle.hpp
  args/core/ecs/ecsregistry.cpp
  args/editor/editor.vcxproj
  args/networking/networking.vcxproj
  args/physics/physics.vcxproj
  args/rendering/rendering.vcxproj
  args/scripting/scripting.vcxproj
Labels: HIGH PRIORITY, bug

#145 excluded ctad from doxygen
  args/core/async/readonly_rw_spinlock.hpp
  args/core/containers/iterator_tricks.hpp
Labels: bug, enhancement

#146 Remove ARGS_API
  args/application/context/contexthelper.hpp
  args/application/events/inputevents.hpp
  args/application/input/inputsystem.cpp
  args/application/input/inputsystem.hpp
  args/application/window/windowsystem.cpp
  args/application/window/windowsystem.hpp
  args/core/compute/buffer.hpp
  args/core/compute/context.hpp
  args/core/compute/kernel.hpp
  args/core/compute/program.hpp
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/data/importers/mesh_importers.hpp
  args/core/data/mesh.hpp
  args/core/ecs/archetype.hpp
  args/core/ecs/component_container.hpp
  args/core/ecs/ecsregistry.hpp
  args/core/ecs/entity_handle.hpp
  args/core/ecs/entityquery.hpp
  args/core/ecs/queryregistry.hpp
  args/core/filesystem/assetimporter.cpp
  args/core/filesystem/assetimporter.hpp
  args/core/filesystem/detail/strpath_manip.hpp
  args/core/filesystem/mem_filesystem_resolver.hpp
  args/core/filesystem/provider_registry.hpp
  args/core/filesystem/view.hpp
  args/core/logging/logging.hpp
  args/core/platform/args_library.hpp
  args/core/platform/cpp.hint
  args/core/platform/platform.hpp
  args/core/scheduling/processchain.hpp
  args/core/scheduling/scheduler.hpp
  args/editor/editor/editor_impl.hpp
  args/physics/colliders/convexcollider.hpp
  args/physics/colliders/physicscollider.hpp
  args/physics/components/physics_component.hpp
  args/physics/components/rigidbody.hpp
  args/physics/cube_collider_params.hpp
  args/physics/data/edgepenetrationquery.h
  args/physics/data/penetrationquery.h
  args/physics/data/physics_manifold.hpp
  args/physics/data/physics_manifold_precursor.h
  args/physics/halfedgeedge.hpp
  args/physics/halfedgeface.hpp
  args/physics/physics.vcxproj
  args/physics/physics.vcxproj.filters
  args/physics/physics_contact.h
  args/physics/physics_statics.hpp
  args/physics/physicsimport.h
  args/physics/systems/physicssystem.hpp
  args/rendering/components/camera.hpp
  args/rendering/data/importers/texture_importers.hpp
  args/rendering/data/material.hpp
  args/rendering/data/model.hpp
  args/rendering/data/shader.hpp
  args/rendering/data/texture.hpp
  args/rendering/debugrendering.hpp
  args/rendering/detail/engine_include.hpp
  args/rendering/rendering.vcxproj
  args/rendering/rendering.vcxproj.filters
Labels: HIGH PRIORITY

#147 Thread count rebalance
  applications/sandbox/source.cpp
  args/application/window/windowsystem.hpp
  args/core/engine/engine.hpp
  args/core/platform/platform.hpp
  args/core/scheduling/scheduler.cpp
  args/core/scheduling/scheduler.hpp
Labels: enhancement, team core

#130 Args Audio
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/source.cpp
  applications/sandbox/systems/testsystem.hpp
  args-engine.sln
  args/application/application.vcxproj
  args/application/application.vcxproj.filters
  args/audio/audio.hpp
  args/audio/audio.vcxproj
  args/audio/audio.vcxproj.filters
  args/audio/components/audio_listener.hpp
  args/audio/components/audio_source.hpp
  args/audio/data/audio_segment.cpp
  args/audio/data/audio_segment.hpp
  args/audio/data/importers/audio_importers.cpp
  args/audio/data/importers/audio_importers.hpp
  args/audio/module/audiomodule.hpp
  args/audio/systems/audiosystem.cpp
  args/audio/systems/audiosystem.hpp
  args/audio/systems/audiosystem.inl
  args/core/ecs/component_handle.hpp
  args/core/ecs/entity_handle.hpp
  deps/dll/OpenAL32.dll
  deps/include/AL/al.h
  deps/include/AL/alc.h
  deps/include/AL/alext.h
  deps/include/AL/efx-creative.h
  deps/include/AL/efx-presets.h
  deps/include/AL/efx.h
  deps/include/minimp3.h
  deps/include/minimp3_ex.h
  deps/lib/OpenAL32.lib
  deps/lib/common.lib
  deps/lib/ex-common.lib
Labels: enhancement, team audio

#153 image in core and window system overhoal
  applications/sandbox/assets/textures/default/default-albedo.png
  applications/sandbox/assets/textures/default/default-ao.png
  applications/sandbox/assets/textures/default/default-emissive.png
  applications/sandbox/assets/textures/default/default-height.png
  applications/sandbox/assets/textures/default/default-metal.png
  applications/sandbox/assets/textures/default/default-normal.png
  applications/sandbox/assets/textures/default/default-roughness.png
  applications/sandbox/assets/textures/default/default-smoothness.png
  applications/sandbox/assets/textures/missing-texture.png
  applications/sandbox/engine/resources/default/albedo
  applications/sandbox/engine/resources/default/ao
  applications/sandbox/engine/resources/default/emissive
  applications/sandbox/engine/resources/default/height
  applications/sandbox/engine/resources/default/metal
  applications/sandbox/engine/resources/default/normal
  applications/sandbox/engine/resources/default/roughness
  applications/sandbox/engine/resources/default/smoothness
  applications/sandbox/engine/resources/invalid/missing
  applications/sandbox/engine/resources/legion/icon
  applications/sandbox/engine/resources/legion/icon.ico
  applications/sandbox/resource.h
  applications/sandbox/sandbox.rc
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/sandbox.vcxproj.filters
  applications/sandbox/source.cpp
  applications/sandbox/systems/testsystem.hpp
  args/application/context/contexthelper.cpp
  args/application/context/contexthelper.hpp
  args/application/events/windowevents.hpp
  args/application/window/windowsystem.cpp
  args/application/window/windowsystem.hpp
  args/audio/systems/audiosystem.inl
  args/core/core.vcxproj
  args/core/core.vcxproj.filters
  args/core/data/image.cpp
  args/core/data/image.hpp
  args/core/data/importers/image_importers.cpp
  args/core/data/importers/image_importers.hpp
  args/core/data/mesh.cpp
  args/core/defaults/coremodule.hpp
  args/core/ecs/ecsregistry.cpp
  args/core/ecs/entity_handle.hpp
  args/core/engine/engine.hpp
  args/core/engine/module.cpp
  args/core/engine/module.hpp
  args/core/engine/system.cpp
  args/core/engine/system.hpp
  args/core/events/defaultevents.cpp
  args/core/events/defaultevents.hpp
  args/core/types/type_util.cpp
  args/core/types/type_util.hpp
  args/rendering/data/importers/texture_importers.cpp
  args/rendering/data/importers/texture_importers.hpp
  args/rendering/data/material.cpp
  args/rendering/data/model.cpp
  args/rendering/data/texture.cpp
  args/rendering/data/texture.hpp
  args/rendering/systems/renderer.hpp
Labels: enhancement, team core

#156 Feature/debug renderer double buffer
  applications/sandbox/systems/testsystem.hpp
  args/core/math/glm/detail/type_vec3.hpp
  args/core/math/glm/detail/type_vec3.inl
  args/core/scheduling/processchain.cpp
  args/core/scheduling/processchain.hpp
  args/physics/colliders/convexcollider.hpp
  args/rendering/debugrendering.hpp
  args/rendering/rendering.vcxproj
  args/rendering/rendering.vcxproj.filters
  args/rendering/systems/renderer.cpp
  args/rendering/systems/renderer.hpp
Labels: enhancement

#157 added high level abstraction to opencl driver
  applications/sandbox/systems/testsystem.hpp
  legion/engine/application/input/inputmap.hpp
  legion/engine/core/compute/buffer.cpp
  legion/engine/core/compute/buffer.hpp
  legion/engine/core/compute/context.cpp
  legion/engine/core/compute/context.hpp
  legion/engine/core/compute/detail/cl_include.hpp
  legion/engine/core/compute/high_level/function.cpp
  legion/engine/core/compute/high_level/function.hpp
  legion/engine/core/compute/kernel.cpp
  legion/engine/core/compute/kernel.hpp
  legion/engine/core/compute/program.cpp
  legion/engine/core/compute/program.hpp
  legion/engine/core/core.vcxproj
  legion/engine/core/core.vcxproj.filters
  legion/engine/core/filesystem/resource.hpp
  legion/engine/core/filesystem/view.hpp
  legion/engine/core/math/glm/CMakeLists.txt
  legion/engine/core/scheduling/scheduler.cpp
  legion/engine/core/types/meta.hpp
Labels: enhancement, team core

#175 [Add] ShellInvoke for windows and linux
  applications/sandbox/source.cpp
  legion/engine/core/common/string_extra.hpp
  legion/engine/core/core.hpp
  legion/engine/core/core.vcxproj
  legion/engine/core/core.vcxproj.filters
  legion/engine/core/platform/platform.hpp
  legion/engine/core/platform/shellinvoke.hpp
  legion/engine/core/types/primitives.hpp
Labels: enhancement, team core

#159 Collision Resolution Unit Tests and bug fixes
  applications/sandbox/systems/testsystem.hpp
  legion/engine/physics/colliders/convexcollider.cpp
  legion/engine/physics/colliders/physicscollider.hpp
  legion/engine/physics/components/rigidbody.hpp
  legion/engine/physics/data/convexconvexpenetrationquery.cpp
  legion/engine/physics/data/convexconvexpenetrationquery.hpp
  legion/engine/physics/data/edgepenetrationquery.cpp
  legion/engine/physics/data/edgepenetrationquery.hpp
  legion/engine/physics/data/identifier.hpp
  legion/engine/physics/data/physics_manifold.hpp
  legion/engine/physics/halfedgeedge.hpp
  legion/engine/physics/physics.hpp
  legion/engine/physics/physics.vcxproj
  legion/engine/physics/physics.vcxproj.filters
  legion/engine/physics/physics_contact.h
  legion/engine/physics/physics_contact.hpp
  legion/engine/physics/physics_statics.hpp
  legion/engine/physics/physicsconstants.hpp
  legion/engine/physics/physicsmodule.hpp
  legion/engine/physics/systems/physicssystem.cpp
  legion/engine/physics/systems/physicssystem.hpp
Labels: enhancement, team physics

#178 fix entity child iteration
  applications/sandbox/source.cpp
  applications/sandbox/systems/testsystem.hpp
  legion/engine/core/ecs/ecsregistry.cpp
  legion/engine/core/ecs/entity_handle.cpp
Labels: HIGH PRIORITY, team core

#180 Rigidbody-Friction
  applications/sandbox/systems/testsystem.hpp
  legion/engine/physics/components/rigidbody.hpp
  legion/engine/physics/data/convexconvexpenetrationquery.cpp
  legion/engine/physics/physics_contact.hpp
  legion/engine/physics/physicsconstants.hpp
  legion/engine/physics/systems/physicssystem.hpp
Labels: bug, enhancement, team physics
