Repository Rythe-Interactive/Rythe-Engine, pull requests merged in 2021-01, with the labels that each got.

#270 Optimizations and more profiling
  legion/engine/application/context/contexthelper.cpp
  legion/engine/application/input/inputsystem.hpp
  legion/engine/application/window/window.cpp
  legion/engine/application/window/windowsystem.cpp
  legion/engine/core/async/rw_spinlock.cpp
  legion/engine/core/async/rw_spinlock.hpp
  legion/engine/core/async/spinlock.cpp
  legion/engine/core/containers/sparse_map.hpp
  legion/engine/core/core.vcxproj
  legion/engine/core/ecs/component_container.hpp
  legion/engine/core/ecs/queryregistry.cpp
  legion/engine/core/ecs/queryregistry.hpp
  legion/engine/core/events/eventbus.hpp
  legion/engine/core/math/glm/gtx/matrix_decompose.inl
  legion/engine/core/scheduling/process.hpp
  legion/engine/core/scheduling/processchain.cpp
  legion/engine/core/scheduling/scheduler.cpp
  legion/engine/rendering/data/model.cpp
  legion/engine/rendering/data/shader.cpp
  legion/engine/rendering/debugrendering.hpp
  legion/engine/rendering/pipeline/default/postfx/tonemapping.cpp
  legion/engine/rendering/pipeline/default/stages/meshrenderstage.cpp
  legion/engine/rendering/pipeline/default/stages/postprocessingstage.cpp
  legion/engine/rendering/systems/renderer.cpp
  legion/engine/rendering/systems/renderer.hpp
Labels: enhancement

#272 billboard shader lib support and particle shader
  applications/sandbox/assets/models/billboard.mtl
  applications/sandbox/assets/models/billboard.obj
  applications/sandbox/assets/shaders/billboard.shs
  applications/sandbox/assets/shaders/particle.shs
  applications/sandbox/engine/resources/default/Thumbs.db
  applications/sandbox/engine/resources/default/albedo
  applications/sandbox/engine/resources/default/albedo.png
  applications/sandbox/engine/shaderlib/stdio.shinc
  applications/sandbox/engine/shaderlib/utils.shinc
  applications/sandbox/imgui.ini
  applications/sandbox/module/testModule.hpp
  applications/sandbox/systems/simplecameracontroller.hpp
  applications/sandbox/systems/testsystem.hpp
  legion/engine/core/async/spinlock.cpp
  legion/engine/rendering/components/camera.hpp
  legion/engine/rendering/pipeline/default/stages/framebufferresizestage.cpp
  legion/engine/rendering/pipeline/default/stages/framebufferresizestage.hpp
  legion/engine/rendering/pipeline/default/stages/meshrenderstage.cpp
Labels: enhancement, team rendering

#274 fix shader compiler and debug draw
  applications/sandbox/assets/shaders/debug.shs
  applications/sandbox/engine/shaders/aces.shs
  applications/sandbox/engine/shaders/fxaa.shs
  applications/sandbox/engine/shaders/legiontonemap.shs
  applications/sandbox/engine/shaders/reinhard.shs
  applications/sandbox/engine/shaders/reinhardjodie.shs
  applications/sandbox/engine/shaders/screenshader.shs
  applications/sandbox/engine/shaders/unreal3.shs
  legion/engine/rendering/data/shader.cpp
  legion/engine/rendering/pipeline/default/stages/debugrenderstage.cpp
  legion/engine/rendering/shadercompiler/shadercompiler.cpp
Labels: HIGH PRIORITY, bug

#273 [LAP-113] Feature/animator
  applications/sandbox/assets/test.anim
  applications/sandbox/data/animation.cpp
  applications/sandbox/data/animation.hpp
  applications/sandbox/imgui.ini
  applications/sandbox/module/testModule.hpp
  applications/sandbox/murder_all_shaders.bat
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/sandbox.vcxproj.filters
  applications/sandbox/systems/animation_editor.cpp
  applications/sandbox/systems/animation_editor.hpp
  applications/sandbox/systems/animator.cpp
  applications/sandbox/systems/animator.hpp
  applications/sandbox/systems/gui_test.hpp
  applications/sandbox/systems/testsystem.hpp
  legion/engine/core/common/result.hpp
  legion/engine/core/filesystem/resource.hpp
  legion/engine/core/math/glm/gtx/matrix_decompose.inl
  legion/engine/rendering/pipeline/gui/stages/imguirenderstage.cpp
Labels: enhancement

#276 [LAP-9] bloom postprocessing effect
  applications/sandbox/assets/shaders/bloomshader.shs
  applications/sandbox/assets/shaders/blurcolor.shs
  applications/sandbox/assets/shaders/brightnessthresholdshader.shs
  applications/sandbox/assets/shaders/edgedetection.shs
  applications/sandbox/assets/shaders/gaussianblurshader.shs
  applications/sandbox/assets/shaders/invertcolor.shs
  applications/sandbox/data/pp_bloom.hpp
  applications/sandbox/data/pp_blur.hpp
  applications/sandbox/data/pp_edgedetect.hpp
  applications/sandbox/engine/resources/default/albedo
  applications/sandbox/engine/resources/default/albedo.png
  applications/sandbox/engine/resources/default/emissive
  applications/sandbox/engine/resources/default/emissive.png
  applications/sandbox/engine/shaderlib/stdio.shinc
  applications/sandbox/engine/shaders/aces.shs
  applications/sandbox/engine/shaders/fxaa.shs
  applications/sandbox/engine/shaders/legiontonemap.shs
  applications/sandbox/engine/shaders/reinhard.shs
  applications/sandbox/engine/shaders/reinhardjodie.shs
  applications/sandbox/engine/shaders/screenshader.shs
  applications/sandbox/engine/shaders/unreal3.shs
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/sandbox.vcxproj.filters
  applications/sandbox/systems/testsystem.hpp
  legion/engine/rendering/data/framebuffer.cpp
  legion/engine/rendering/data/framebuffer.hpp
Labels: enhancement

#213 Feature/polygon mesh splitter
  applications/sandbox/assets/models/cylinder.mtl
  applications/sandbox/assets/models/cylinder.obj
  applications/sandbox/assets/models/magneticLevelLow.mtl
  applications/sandbox/assets/models/magneticLevelLow.obj
  applications/sandbox/assets/models/polygonTest.mtl
  applications/sandbox/assets/models/polygonTest.obj
  applications/sandbox/assets/textures/split-test.png
  applications/sandbox/module/testModule.hpp
  applications/sandbox/systems/gui_test.hpp
  applications/sandbox/systems/testsystem.hpp
  applications/sandbox/systems/testsystemconvexhull.hpp
  legion/engine/core/data/mesh.cpp
  legion/engine/core/data/mesh.hpp
  legion/engine/core/defaults/defaultcomponents.hpp
  legion/engine/physics/HalfEdgeFace.cpp
  legion/engine/physics/colliders/convexcollider.cpp
  legion/engine/physics/colliders/convexcollider.hpp
  legion/engine/physics/colliders/physicscollider.hpp
  legion/engine/physics/components/fracturer.cpp
  legion/engine/physics/components/fracturer.h
  legion/engine/physics/components/rigidbody.hpp
  legion/engine/physics/cube_collider_params.hpp
  legion/engine/physics/data/convexconvexpenetrationquery.cpp
  legion/engine/physics/data/edgepenetrationquery.cpp
  legion/engine/physics/data/penetrationquery.h
  legion/engine/physics/data/physics_manifold.hpp
  legion/engine/physics/halfedgeedge.hpp
  legion/engine/physics/halfedgeface.hpp
  legion/engine/physics/mesh_splitter_utils/half_edge_finder.h
  legion/engine/physics/mesh_splitter_utils/intersecting_polygon_organizer.hpp
  legion/engine/physics/mesh_splitter_utils/intersection_edge_info.h
  legion/engine/physics/mesh_splitter_utils/mesh_half_edge.hpp
  legion/engine/physics/mesh_splitter_utils/mesh_split_params.hpp
  legion/engine/physics/mesh_splitter_utils/mesh_splitter.hpp
  legion/engine/physics/mesh_splitter_utils/mesh_splitter_debug_helpers.h
  legion/engine/physics/mesh_splitter_utils/mesh_splitter_typedefs.hpp
  legion/engine/physics/mesh_splitter_utils/primitive_mesh.cpp
  legion/engine/physics/mesh_splitter_utils/primitive_mesh.h
  legion/engine/physics/mesh_splitter_utils/splittable_polygon.cpp
  legion/engine/physics/mesh_splitter_utils/splittable_polygon.h
  legion/engine/physics/physics.vcxproj
  legion/engine/physics/physics.vcxproj.filters
  legion/engine/physics/physics_contact.hpp
  legion/engine/physics/physics_statics.hpp
  legion/engine/physics/physicsconstants.hpp
  legion/engine/physics/physicsmodule.hpp
  legion/engine/physics/systems/physics_fracture_test_system.cpp
  legion/engine/physics/systems/physics_fracture_test_system.hpp
  legion/engine/physics/systems/physicssystem.cpp
  legion/engine/physics/systems/physicssystem.hpp
Labels: enhancement

#280 tweaks to gausssian blur and sky at night
  applications/sandbox/assets/shaders/decal.shs
  applications/sandbox/assets/shaders/pbr.shs
  applications/sandbox/assets/shaders/skybox.shs
  applications/sandbox/engine/shaderlib/math_ext.shinc
  applications/sandbox/engine/shaders/gaussianblur.shs
  applications/sandbox/systems/testsystem.hpp
  legion/engine/rendering/pipeline/default/postfx/bloom.cpp
Labels: feature request, team rendering

#277 [LAP-114] [LAP-126] Trigger Events with Animations
  applications/sandbox/assets/audio/fx/explosion-alt1.wav
  applications/sandbox/assets/audio/fx/explosion.wav
  applications/sandbox/assets/test.anim
  applications/sandbox/data/animation.cpp
  applications/sandbox/data/animation.hpp
  applications/sandbox/data/animation_events.hpp
  applications/sandbox/imgui.ini
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/sandbox.vcxproj.filters
  applications/sandbox/systems/animation_editor.cpp
  applications/sandbox/systems/animation_editor.hpp
  applications/sandbox/systems/animator.cpp
  applications/sandbox/systems/testsystem.hpp
  legion/engine/audio/components/audio_source.hpp
  legion/engine/audio/data/audio_segment.cpp
  legion/engine/audio/data/audio_segment.hpp
  legion/engine/audio/systems/audiosystem.hpp
  legion/engine/audio/systems/audiosystem.inl
  legion/engine/core/ecs/entity_handle.hpp
Labels: enhancement

#279 new job and command system
  applications/sandbox/systems/testsystem.hpp
  legion/engine/application/window/windowsystem.cpp
  legion/engine/core/async/async_operation.cpp
  legion/engine/core/async/async_operation.hpp
  legion/engine/core/async/async_runnable.hpp
  legion/engine/core/async/job_pool.cpp
  legion/engine/core/async/job_pool.hpp
  legion/engine/core/async/rw_spinlock.cpp
  legion/engine/core/async/rw_spinlock.hpp
  legion/engine/core/async/wait_priority.hpp
  legion/engine/core/containers/runnable.hpp
  legion/engine/core/core.vcxproj
  legion/engine/core/core.vcxproj.filters
  legion/engine/core/logging/logging.hpp
  legion/engine/core/scheduling/processchain.cpp
  legion/engine/core/scheduling/scheduler.cpp
  legion/engine/core/scheduling/scheduler.hpp
  legion/engine/rendering/systems/renderer.cpp
  legion/engine/rendering/systems/renderer.hpp
Labels: enhancement, team core

#283 Feature/global transform and optimizations
  applications/editor/editor.vcxproj
  applications/sandbox/assets/shaders/groundplane.shs
  applications/sandbox/assets/shaders/skybox.shs
  applications/sandbox/imgui.ini
  applications/sandbox/module/testModule.hpp
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/sandbox.vcxproj.filters
  applications/sandbox/systems/pointcloudtestsystem2.hpp
  applications/sandbox/systems/simplecameracontroller.hpp
  applications/sandbox/systems/testsystem.hpp
  deps/include/Optick/optick.config.h
  legion/engine/application/window/windowsystem.cpp
  legion/engine/audio/systems/audiosystem.inl
  legion/engine/core/async/async_operation.cpp
  legion/engine/core/async/async_operation.hpp
  legion/engine/core/async/job_pool.hpp
  legion/engine/core/containers/sparse_map.hpp
  legion/engine/core/core.vcxproj
  legion/engine/core/core.vcxproj.filters
  legion/engine/core/defaults/coremodule.hpp
  legion/engine/core/defaults/defaultcomponents.cpp
  legion/engine/core/defaults/defaultcomponents.hpp
  legion/engine/core/defaults/hierarchysystem.cpp
  legion/engine/core/defaults/hierarchysystem.hpp
  legion/engine/core/ecs/component_container.hpp
  legion/engine/core/ecs/component_handle.hpp
  legion/engine/core/ecs/component_pool.hpp
  legion/engine/core/ecs/ecs.hpp
  legion/engine/core/ecs/ecsregistry.cpp
  legion/engine/core/ecs/ecsregistry.hpp
  legion/engine/core/ecs/entity_handle.cpp
  legion/engine/core/ecs/entity_handle.hpp
  legion/engine/core/ecs/entityquery.cpp
  legion/engine/core/ecs/entityquery.hpp
  legion/engine/core/ecs/queryregistry.cpp
  legion/engine/core/ecs/queryregistry.hpp
  legion/engine/core/events/defaultevents.hpp
  legion/engine/core/scheduling/processchain.cpp
  legion/engine/core/scheduling/scheduler.cpp
  legion/engine/core/scheduling/scheduler.hpp
  legion/engine/core/time/clock.hpp
  legion/engine/core/time/defaults.hpp
  legion/engine/core/time/time.hpp
  legion/engine/rendering/data/material.cpp
  legion/engine/rendering/data/material.hpp
  legion/engine/rendering/data/model.cpp
  legion/engine/rendering/pipeline/default/postfx/bloom.cpp
  legion/engine/rendering/pipeline/default/postfx/tonemapping.cpp
  legion/engine/rendering/pipeline/default/stages/debugrenderstage.cpp
  legion/engine/rendering/pipeline/default/stages/meshbatchingstage.cpp
  legion/engine/rendering/pipeline/default/stages/meshbatchingstage.hpp
  legion/engine/rendering/pipeline/default/stages/meshrenderstage.cpp
  legion/engine/rendering/systems/renderer.cpp
Labels: enhancement, team core

#287 Feature/optimizations and fixes
  applications/sandbox/assets/shaders/point.shs
  applications/sandbox/imgui.ini
  applications/sandbox/module/testmodule.hpp
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/sandbox.vcxproj.filters
  applications/sandbox/source.cpp
  applications/sandbox/systems/testsystem.hpp
  deps/include/Optick/optick.config.h
  legion/engine/core/async/async_operation.cpp
  legion/engine/core/async/async_operation.hpp
  legion/engine/core/async/async_runnable.hpp
  legion/engine/core/async/job_pool.hpp
  legion/engine/core/async/thread_util.hpp
  legion/engine/core/containers/atomic_sparse_map.hpp
  legion/engine/core/containers/hashed_sparse_set.hpp
  legion/engine/core/containers/iterator_tricks.hpp
  legion/engine/core/containers/runnable.hpp
  legion/engine/core/containers/sparse_map.hpp
  legion/engine/core/core.vcxproj
  legion/engine/core/core.vcxproj.filters
  legion/engine/core/defaults/defaultcomponents.hpp
  legion/engine/core/defaults/hierarchysystem.cpp
  legion/engine/core/defaults/hierarchysystem.hpp
  legion/engine/core/ecs/component_pool.hpp
  legion/engine/core/ecs/ecsregistry.cpp
  legion/engine/core/ecs/ecsregistry.hpp
  legion/engine/core/ecs/entity_handle.cpp
  legion/engine/core/ecs/entity_handle.hpp
  legion/engine/core/ecs/queryregistry.cpp
  legion/engine/core/events/defaultevents.hpp
  legion/engine/core/filesystem/artifact_cache.cpp
  legion/engine/core/filesystem/provider_registry.cpp
  legion/engine/core/platform/platform.hpp
  legion/engine/core/scheduling/scheduler.cpp
  legion/engine/core/scheduling/scheduler.hpp
  legion/engine/rendering/imgui_impl/imgui_demo.cpp
  legion/engine/rendering/pipeline/default/stages/meshbatchingstage.cpp
  legion/engine/rendering/systems/renderer.cpp
  legion/engine/rendering/util/matini.hpp
Labels: enhancement, team core

#290 Activates Doxy for develop
  .github/workflows/docs.yml
  .github/workflows/predocs.yml
Labels: documentation, enhancement

#289 fix docs action errors
  applications/sandbox/data/animation.hpp
  legion/editor/editor-core/editor/editor.hpp
  legion/engine/audio/systems/audiosystem.hpp
  legion/engine/core/common/result.hpp
  legion/engine/core/compute/high_level/function.hpp
  legion/engine/core/ecs/ecsregistry.hpp
  legion/engine/core/engine/engine.hpp
  legion/engine/core/engine/module.hpp
  legion/engine/core/engine/system.hpp
  legion/engine/core/platform/platform.hpp
  legion/engine/rendering/pipeline/base/pipeline.hpp
  legion/engine/rendering/pipeline/base/pipeline.inl
  legion/engine/rendering/pipeline/base/renderstage.hpp
  legion/engine/rendering/pipeline/default/stages/postprocessingstage.hpp
  legion/engine/rendering/shadercompiler/shadercompiler.hpp
  legion/engine/rendering/systems/renderer.hpp
  legion/engine/rendering/systems/renderer.inl
Labels: HIGH PRIORITY, bug, documentation

#294 Feature/material loading from models
  applications/sandbox/assets/models/suzanne-test.mtl
  applications/sandbox/assets/models/suzanne-test.obj
  applications/sandbox/assets/models/suzanne.glb
  applications/sandbox/assets/models/suzanne_test.glb
  applications/sandbox/engine/shaderlib/lighting_input.shinc
  applications/sandbox/engine/shaderlib/texturemaps.shinc
  applications/sandbox/engine/shaders/default_lit.shs
  applications/sandbox/module/testmodule.hpp
  applications/sandbox/systems/testsystem.hpp
  legion/engine/core/data/image.cpp
  legion/engine/core/data/image.hpp
  legion/engine/core/data/importers/image_importers.cpp
  legion/engine/core/data/importers/mesh_importers.cpp
  legion/engine/core/data/mesh.hpp
  legion/engine/rendering/data/model.cpp
  legion/engine/rendering/data/model.hpp
  legion/engine/rendering/data/particle_system_base.hpp
  legion/engine/rendering/data/shader.hpp
  legion/engine/rendering/data/texture.cpp
  legion/engine/rendering/data/texture.hpp
  legion/engine/rendering/pipeline/base/pipelinebase.hpp
  legion/engine/rendering/pipeline/default/stages/meshrenderstage.cpp
Labels: team rendering

#295 Rename typeName to nameOfType
  legion/engine/core/ecs/component_pool.hpp
  legion/engine/core/engine/system.hpp
  legion/engine/core/events/event.hpp
  legion/engine/core/events/eventbus.hpp
  legion/engine/core/filesystem/assetimporter.hpp
  legion/engine/core/types/type_util.hpp
  legion/engine/rendering/data/material.hpp
  legion/engine/rendering/data/postprocessingeffect.hpp
  legion/engine/rendering/data/shader.hpp
  legion/engine/rendering/systems/pointcloudgeneration.hpp
Labels: enhancement, team core

#296 fix shader preprocessor error
  applications/sandbox/assets/models/suzanne-test.mtl
  applications/sandbox/engine/shaderlib/texturemaps.shinc
  applications/sandbox/engine/tools/lgnspre/lgnspre.exe
  applications/sandbox/systems/testsystem.hpp
Labels: bug, team rendering

#299 [LAP-106] Uniform Grid Broad Phase
  applications/sandbox/module/testmodule.hpp
  applications/sandbox/systems/testsystem.hpp
  applications/sandbox/systems/testsystemconvexhull.hpp
  legion/engine/core/ecs/entity_handle.hpp
  legion/engine/core/logging/logging.hpp
  legion/engine/core/math/glm/detail/type_vec3.hpp
  legion/engine/core/math/glm/detail/type_vec3.inl
  legion/engine/physics/broadphasecollisionalgorithms/broadphasebruteforce.hpp
  legion/engine/physics/broadphasecollisionalgorithms/broadphasecollisionalgorithm.hpp
  legion/engine/physics/broadphasecollisionalgorithms/broadphaseuniformgrid.cpp
  legion/engine/physics/broadphasecollisionalgorithms/broadphaseuniformgrid.hpp
  legion/engine/physics/components/fracturer.cpp
  legion/engine/physics/components/physics_component.cpp
  legion/engine/physics/components/physics_component.hpp
  legion/engine/physics/physics.vcxproj
  legion/engine/physics/physics.vcxproj.filters
  legion/engine/physics/physics_statics.cpp
  legion/engine/physics/physics_statics.hpp
  legion/engine/physics/physicsconstants.hpp
  legion/engine/physics/systems/physics_fracture_test_system.cpp
  legion/engine/physics/systems/physicssystem.cpp
  legion/engine/physics/systems/physicssystem.hpp
Labels: enhancement, team physics

#297 [LAP-10] Depth of Field
  applications/sandbox/assets/shaders/skybox.shs
  applications/sandbox/engine/shaderlib/stdio.shinc
  applications/sandbox/engine/shaders/depththreshold.shs
  applications/sandbox/engine/shaders/dofbokeh.shs
  applications/sandbox/engine/shaders/dofcombine.shs
  applications/sandbox/engine/shaders/postfilter.shs
  applications/sandbox/engine/shaders/prefilter.shs
  applications/sandbox/imgui.ini
  applications/sandbox/module/testmodule.hpp
  applications/sandbox/systems/pointcloudtestsystem2.hpp
  applications/sandbox/systems/simplecameracontroller.hpp
  legion/engine/core/ecs/entity_handle.cpp
  legion/engine/core/scenemanagement/scenemanager.cpp
  legion/engine/rendering/data/postprocessingeffect.hpp
  legion/engine/rendering/pipeline/default/defaultpipeline.cpp
  legion/engine/rendering/pipeline/default/postfx/bloom.cpp
  legion/engine/rendering/pipeline/default/postfx/bloom.hpp
  legion/engine/rendering/pipeline/default/postfx/depthoffield.cpp
  legion/engine/rendering/pipeline/default/postfx/depthoffield.hpp
  legion/engine/rendering/pipeline/default/postfx/fxaa.cpp
  legion/engine/rendering/pipeline/default/postfx/fxaa.hpp
  legion/engine/rendering/pipeline/default/postfx/tonemapping.cpp
  legion/engine/rendering/pipeline/default/postfx/tonemapping.hpp
  legion/engine/rendering/pipeline/default/stages/postprocessingstage.cpp
  legion/engine/rendering/rendering.vcxproj
  legion/engine/rendering/rendering.vcxproj.filters
Labels: enhancement, team rendering

#302 Feature/physics optimizations
  applications/sandbox/module/testmodule.hpp
  legion/engine/core/defaults/hierarchysystem.cpp
  legion/engine/core/ecs/component_pool.hpp
  legion/engine/physics/broadphasecollisionalgorithms/broadphasebruteforce.hpp
  legion/engine/physics/broadphasecollisionalgorithms/broadphasecollisionalgorithm.hpp
  legion/engine/physics/broadphasecollisionalgorithms/broadphaseuniformgrid.cpp
  legion/engine/physics/broadphasecollisionalgorithms/broadphaseuniformgrid.hpp
  legion/engine/physics/colliders/convexcollider.cpp
  legion/engine/physics/colliders/convexcollider.hpp
  legion/engine/physics/colliders/physicscollider.hpp
  legion/engine/physics/components/fracturer.cpp
  legion/engine/physics/data/convexconvexpenetrationquery.cpp
  legion/engine/physics/data/convexconvexpenetrationquery.hpp
  legion/engine/physics/data/edgepenetrationquery.cpp
  legion/engine/physics/data/edgepenetrationquery.hpp
  legion/engine/physics/data/penetrationquery.hpp
  legion/engine/physics/data/physics_manifold.hpp
  legion/engine/physics/data/physics_manifold_precursor.hpp
  legion/engine/physics/events/events.hpp
  legion/engine/physics/physics_contact.hpp
  legion/engine/physics/physics_statics.cpp
  legion/engine/physics/physics_statics.hpp
  legion/engine/physics/systems/physicssystem.hpp
Labels: team physics

#301 Middle phase collision
  applications/editor/editor.vcxproj
  applications/sandbox/imgui.ini
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/systems/gui_test.hpp
  applications/sandbox/systems/testsystem.hpp
  applications/sandbox/systems/testsystemconvexhull.hpp
  applications/unit_tests/unit_tests.vcxproj
  deps/include/Optick/optick.config.h
  legion/editor/editor-application/editor-application.vcxproj
  legion/editor/editor-audio/editor-audio.vcxproj
  legion/editor/editor-core/editor-core.vcxproj
  legion/editor/editor-networking/editor-networking.vcxproj
  legion/editor/editor-physics/editor-physics.vcxproj
  legion/editor/editor-rendering/editor-rendering.vcxproj
  legion/editor/editor-scripting/editor-scripting.vcxproj
  legion/engine/application/application.vcxproj
  legion/engine/audio/audio.vcxproj
  legion/engine/core/core.vcxproj
  legion/engine/core/data/image.cpp
  legion/engine/networking/networking.vcxproj
  legion/engine/physics/broadphasecollisionalgorithms/broadphaseuniformgrid.cpp
  legion/engine/physics/colliders/convexcollider.cpp
  legion/engine/physics/data/penetrationquery.hpp
  legion/engine/physics/data/physics_manifold.hpp
  legion/engine/physics/data/physics_manifold_precursor.hpp
  legion/engine/physics/events/events.hpp
  legion/engine/physics/physics.vcxproj
  legion/engine/physics/physics_statics.hpp
  legion/engine/physics/systems/physicssystem.hpp
  legion/engine/rendering/rendering.vcxproj
  legion/engine/scripting/scripting.vcxproj
Labels: enhancement, feature request, team physics

#304 minor fixes tweaks and a crosshair
  applications/sandbox/assets/shaders/crosshair.shs
  applications/sandbox/assets/shaders/groundplane.shs
  applications/sandbox/assets/textures/crosshair.png
  applications/sandbox/data/crosshair.cpp
  applications/sandbox/data/crosshair.hpp
  applications/sandbox/engine/shaders/depththreshold.shs
  applications/sandbox/sandbox.vcxproj
  applications/sandbox/sandbox.vcxproj.filters
  applications/sandbox/source.cpp
  applications/sandbox/systems/simplecameracontroller.hpp
  applications/sandbox/systems/testsystem.hpp
  applications/sandbox/systems/testsystemconvexhull.hpp
  legion/engine/audio/module/audiomodule.hpp
  legion/engine/audio/systems/audiosystem.inl
  legion/engine/core/data/image.cpp
  legion/engine/physics/colliders/convexcollider.cpp
  legion/engine/physics/physics_statics.hpp
  legion/engine/rendering/pipeline/default/defaultpipeline.cpp
  legion/engine/rendering/pipeline/default/postfx/depthoffield.cpp
  legion/engine/rendering/rendering.vcxproj.filters
Labels: enhancement
