Repository Rythe-Interactive/Rythe-Engine, pull requests merged in 2021-08, with the labels that each got.

#349 New simpler and more user friendly common::result
  applications/editor/editor.vcxproj
  applications/sandbox/sandbox.vcxproj
  applications/unit_tests/tests/core/filesystem.hpp
  applications/unit_tests/unit_tests.vcxproj
  legion/editor/editor-application/editor-application.vcxproj
  legion/editor/editor-audio/editor-audio.vcxproj
  legion/editor/editor-core/editor-core.vcxproj
  legion/editor/editor-networking/editor-networking.vcxproj
  legion/editor/editor-physics/editor-physics.vcxproj
  legion/editor/editor-rendering/editor-rendering.vcxproj
  legion/editor/editor-scripting/editor-scripting.vcxproj
  legion/engine/application/application.vcxproj
  legion/engine/audio/audio.vcxproj
  legion/engine/audio/data/audio_segment.cpp
  legion/engine/audio/data/importers/audio_importers.cpp
  legion/engine/audio/data/importers/audio_importers.hpp
  legion/engine/core/common/result.hpp
  legion/engine/core/compute/high_level/function.cpp
  legion/engine/core/core.vcxproj
  legion/engine/core/data/image.cpp
  legion/engine/core/data/importers/image_importers.cpp
  legion/engine/core/data/importers/image_importers.hpp
  legion/engine/core/data/importers/mesh_importers.cpp
  legion/engine/core/data/importers/mesh_importers.hpp
  legion/engine/core/data/mesh.cpp
  legion/engine/core/filesystem/assetimporter.hpp
  legion/engine/core/filesystem/basic_resolver.hpp
  legion/engine/core/filesystem/navigator.cpp
  legion/engine/core/filesystem/view.cpp
  legion/engine/core/filesystem/view.hpp
  legion/engine/core/scenemanagement/scenemanager.hpp
  legion/engine/networking/networking.vcxproj
  legion/engine/physics/physics.vcxproj
  legion/engine/rendering/data/importers/texture_importers.cpp
  legion/engine/rendering/data/importers/texture_importers.hpp
  legion/engine/rendering/data/material.hpp
  legion/engine/rendering/data/shader.cpp
  legion/engine/rendering/data/texture.cpp
  legion/engine/rendering/rendering.vcxproj
  legion/engine/rendering/shadercompiler/shadercompiler.cpp
  legion/engine/scripting/scripting.vcxproj
Labels: HIGH PRIORITY, enhancement, team core

#351 seperate repeating and non repeating async operation
  legion/engine/core/async/async_operation.hpp
  legion/engine/core/async/async_runnable.hpp
  legion/engine/core/async/job_pool.hpp
Labels: enhancement, team core

#353 whoops enable github actions on subfeatures
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/predocs.yml
Labels: HIGH PRIORITY, bug

#340 Feature/quickhull revised
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  applications/sandbox/assets/models/cola.glb
  applications/sandbox/assets/models/gnomecentered.mtl
  applications/sandbox/assets/models/gnomecentered.obj
  applications/sandbox/assets/models/hammer.mtl
  applications/sandbox/assets/models/hammer.obj
  applications/sandbox/assets/models/mug.mtl
  applications/sandbox/assets/models/mug.obj
  applications/sandbox/assets/models/teapot.obj
  applications/sandbox/assets/voronoi/output/cells.json
  applications/sandbox/module/testmodule.hpp
  legion/engine/physics/colliders/convexcollider.cpp
  legion/engine/physics/colliders/convexcollider.hpp
  legion/engine/physics/components/fracturer.cpp
  legion/engine/physics/components/physics_component.cpp
  legion/engine/physics/components/physics_component.hpp
  legion/engine/physics/data/collider_face_to_vert.cpp
  legion/engine/physics/data/collider_face_to_vert.hpp
  legion/engine/physics/data/convexconvexpenetrationquery.cpp
  legion/engine/physics/data/convexconvexpenetrationquery.hpp
  legion/engine/physics/data/edgepenetrationquery.cpp
  legion/engine/physics/halfedgeedge.cpp
  legion/engine/physics/halfedgeedge.hpp
  legion/engine/physics/halfedgeface.cpp
  legion/engine/physics/halfedgeface.hpp
  legion/engine/physics/physics.vcxproj
  legion/engine/physics/physics.vcxproj.filters
  legion/engine/physics/physics_statics.cpp
  legion/engine/physics/physics_statics.hpp
  legion/engine/physics/physicsconstants.hpp
  legion/engine/physics/physicsmodule.hpp
  legion/engine/physics/systems/physics_fracture_test_system.cpp
  legion/engine/physics/systems/physics_fracture_test_system.hpp
  legion/engine/physics/systems/physics_test_system.cpp
  legion/engine/physics/systems/physics_test_system.hpp
  legion/engine/physics/systems/physicssystem.cpp
  legion/engine/rendering/pipeline/default/postfx/depthoffield.cpp
Labels: enhancement, team physics

#354 Allow for other repositories to make docs
  .github/workflows/docs.yml
Labels: documentation, enhancement

#357 Subfeature/asset pipeline impl
  .gitignore
  legion/engine/core/assets/asset.hpp
  legion/engine/core/assets/assetcache.hpp
  legion/engine/core/assets/assetloader.hpp
  legion/engine/core/assets/assets.hpp
  legion/engine/core/assets/assets.inl
  legion/engine/core/assets/functionalbinds.hpp
  legion/engine/core/assets/functionalbinds.inl
  legion/engine/core/assets/import_settings.hpp
  legion/engine/core/async/async_operation.hpp
  legion/engine/core/core.vcxproj
  legion/engine/core/core.vcxproj.filters
Labels: enhancement, team core, HIGH PRIORITY
